<div class="container bio-container">
  <div class="row">
    <div class="col-md-9">
      <h1 class="bio-title display-2">Who I AM</h1>
      <h2>From Dance to Code</h2>
      <span class="bigger">This will start bigger..</span>
      <p class="bio">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nisl
        eros, pulvinar facilisis justo mollis, auctor consequat urna. Morbi a
        bibendum metus. Donec scelerisque sollicitudin enim eu venenatis. Duis
        tincidunt laoreet ex, in pretium orci vestibulum eget. Class aptent
        taciti sociosqu ad litora torquent per conubia nostra, per inceptos
        himenaeos. Duis pharetra luctus lacus ut vestibulum. Maecenas ipsum
        lacus, lacinia quis posuere ut, pulvinar vitae dolor. Integer eu nibh at
        nisi ullamcorper sagittis id vel leo.
      </p>
    </div>
    <div class="col-md-3 profile-picture">
      <!-- <img src="/public/assets/img/attila.jpg" alt="portrait" /> -->
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-3">...</div>
    <div class="col-md-9">...</div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-9">...</div>
    <div class="col-md-3">...</div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-3">...</div>
    <div class="col-md-9">...</div>
  </div>
</div>
