<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= user.name %></p>
<a href="/users/logout" class="btn btn-secondary">Logout</a>

<div id="canvas-container" class="container">
  <script>
    let fontsize = 12;
    let cnv;
    class Zero {
      constructor(x, y, r, h) {
        this.x = x + 5;
        this.y = y - 5;
        //WORK ON RADIUS!!!!!!!
        this.r = r;
        this.h = h;
      }
      show() {
        stroke(255);
        noFill();
        strokeWeight(1);
        //FIX THIS WITH AFTER RADIUS FIX
        ellipse(this.x, this.y, this.r * 2, this.h);
      }
    }

    function centerCanvas() {
      let x = (windowWidth - width) / 2;
      let y = (windowHeight - height) / 2;
      cnv.position(x, y);
    }

    function setup() {
      cnv = createCanvas(500, 500);
      centerCanvas();
      cnv.parent("canvas-container");
    }

    function windowResized() {
      centerCanvas();
    }

    function draw() {
      background(0);
      for (let y = 0; y < height; y++) {
        for (let x = 0; x < width; x++) {
          let wdt = x + 12 * x;
          let hgt = y + 13 * y;
          let zero = new Zero(wdt, hgt, 3, 10);
          zero.show();
        }
      }
    }
  </script>
</div>
