<div class="container">
  <div class="scores-container row">
    <ul class="col-md-4">
      <div class="btn-group" role="group" aria-label="Basic example">
        <a type="button" class="btn btn-secondary" href="/intro">Home</a>
        <a type="button" class="btn btn-secondary restart" href="/dashboard"
          >Restart</a
        >
      </div>
    </ul>
    <ul class="col-md-8 scores">
      <div class="btn-group offset-md-1" role="group">
        <button type="button" class="btn btn-secondary disabled">
          Personal Best Score:
          <span class="best-score"><%= user.highScore %></span>
        </button>
        <button type="button" class="btn btn-secondary disabled">
          High Score: <span class="high-score">0</span>
        </button>
        <button type="button" class="btn btn-secondary disabled">
          Current Score: <span class="current-score">0</span>
        </button>
        <p class="welcome lead">Welcome <%= user.name %></p>
      </div>
    </ul>
  </div>

  <div class="progress mt-3 mb-3">
    <div
      class="progress-bar progress-bar-animated active"
      id="dynamic"
      role="progressbar"
      aria-valuemin="0"
      aria-valuenow="0"
      aria-valuemax="10"
    ></div>
    <span id="current-progress"></span>
  </div>

  <div id="canvas-container" class="container game-container mt-3">
    <div class="row question-container">
      <h3 class="col-md-3 question-header">Question:</h3>
      <p class="col-md-6 offset-1 question"></p>
    </div>
    <div class="row answer-buttons-container mt-1 mb-1">
      <button class="col-md-2 true-button btn btn-success">True</button>
      <button class="col-md-2 false-button btn btn-danger">False</button>
    </div>
    <h1 class="ready-element show">READY???</h1>
  </div>
</div>
