<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= user.name %></p>
<a href="/users/logout" class="btn btn-secondary">Logout</a>

<div id="canvas-container" class="container game-container">
  <!-- <progress value="0" max="10" id="progressBar"></progress> -->
  <div class="progress">
    <div
      class="progress-bar progress-bar-animated active"
      id="dynamic"
      role="progressbar"
      aria-valuemin="0"
      aria-valuenow="0"
      aria-valuemax="10"
    ></div>
    <span id="current-progress"></span>
  </div>
  <div class="container">
    <span class="best-score"><%= user.highScore %> </span><br />
    <span class="high-score"></span><br />
    <span class="current-score"></span>
    <div class="row"></div>
  </div>
</div>
