<div class="container">
  <div class="row game-header">
    <ul class="col-md-12">
      <div class="btn-group" role="group" aria-label="Basic example">
        <a type="button" class="btn btn-secondary" href="/intro">Home</a>
        <a type="button" class="btn btn-secondary restart" href="/game"
          >Restart</a
        >
      </div>
    </ul>
  </div>

  <div class="progress mt-3 mb-3">
    <div
      class="progress-bar progress-bar-animated active"
      id="dynamic"
      role="progressbar"
      aria-valuemin="0"
      aria-valuenow="0"
      aria-valuemax="10"
    ></div>
    <span id="current-progress"></span>
  </div>
  <div class="row game-row">

    <h1 class="display-3 ready-element showEl">READY???</h1>
    

    <div class="col-sm-4 card mb-3 scores-container hide">
      <h3 class="card-header game-card-header">Game Scores <i class="fas fa-chart-line"></i></h3>
      <div class="card-body" style="padding-bottom: 0;">
        <h5 class="card-title" style="color: #FFDCA2;">Answer the questions below</h5>
        <h6 class="card-subtitle text-muted" style="color: #FFDCA2;">And see your scores</h6>
      </div>
      
      <div class="card-body">
        <p class="card-text question-container">
          
            <h3 class="question-header">Question:</h3><br>
            <p class="question"></p>

          </p>
            <div class="row offset-md-1 answer-buttons-container mt-1">
              <button class="col-md-5 true-button btn btn-success">True</button>
              <button class="col-md-5 false-button btn btn-danger">False</button>
            </div>
      
      </div>
      <ul class="list-group list-group-flush scores mb-3">
        <li class="list-group-item">Personal Best Score:
          <span class="best-score"><%= user.highScore %></span></li>
        <li class="list-group-item"> High Score: <span class="high-score">0</span></li>
        <li class="list-group-item">Current Score: <span class="current-score">0</span></li>
      </ul>
      
    </div>

    <div id="canvas-container" class="col-sm-8 game-container">
      <h1 class="display-3 game-over-element hide">GAME OVER!!!</h1>
    </div>
  </div>
</div>
<script src="/js/game.js" defer></script>
<script src="/js/trivia.js" defer></script>
