<%- include('./partials/header') %>
<div class="container welcome-container">
  <div class="welcome row justify-content-center">
    <div class="col"></div>
    <div class="col-6 justify-content-center">
      <h1 class="display-2">Hello, and welcome</h1>
      <p class="instruction">
        Click on the "C" and answer the questions correctly to collect points. A
        "C" worth one point and a correct answer yields two points. If you
        answer incorrectly, you will lose two points, if you click off the "c",
        you lose half a point. The program will track your high scores as well.
        Your progress will be saved, now that you registered, and will be able
        to come back to try to beat your best score. This program in an ongoing
        design to practice JavaScript and have fun doing it. More features will
        be added as I can think of them. Have fun!!! You have got 1 minute!
        Tic-Toc...
      </p>
    </div>
    <div class="col"></div>
  </div>
</div>

<div class="container button-container">
  <div class="button-row row justify-content-center">
    <a href="/dashboard" class="start-button btn btn-primary"
      >Click to find the "C" !!</a
    >
  </div>
</div>
