<%- include('./partials/header') %> <%- include ("./partials/messages"); %>
<div id="particles" class="container-fluid">
  <div class="intro-container">
    <div class="container welcome-container">
      <div class="welcome row justify-content-center">
        <div class="col"></div>
        <div class="col-6 justify-content-center">
          <h1 class="display-3">Hello, and welcome</h1>
          <p class="instruction">
            <span class="bigger">To my portfolio site </span>
            where I will show you around the features, I was interested in
            showcasing. By clicking the button below, you will enter a simple
            game page. The rules are simple: click on the "c" to collect 1
            point, and answer the trivia questions, as well to boost your score
            by 2 each time you are correct. Careful though, not hitting the "c"
            will deduct a half a point, and the wrong answer deducts 2. You need
            to be fast as the "c" will not wait for you! Your high score will be
            stored while you are on the site, and your best score will be saved
            in the database for you to beat when you come back in the future.
            Have fun, and please browse around to learn more about me, and the
            features of this site.
          </p>
        </div>
        <div class="col"></div>
      </div>
    </div>

    
    </div>
  </div>
</div>
