body {
  background: linear-gradient(0deg, #fff, 50%, #deeefe);
  background: #455a64;
}

.main-content-wrapper {
  height: 100%;
}

.get-ready {
  position: relative;
  bottom: 40em;
}

.show {
  position: absolute;
  display: block;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}
.hide {
  display: none;
}

.canvas-container {
  height: 45em;
}

.high-score {
  color: red;
  font-size: larger;
}

.current-score {
  color: white;
  font-size: x-large;
  font-weight: bold;
  font-style: italic;
}

.progress {
  margin: 1em;
  width: 100%;
}

/* Canvas CSS */

.p5Canvas {
  top: 22em;
}

/* FOOTER STYLES  */

.footer-wrapper {
  overflow: hidden;
  margin-top: 2em;
  background: #262626;
  color: #627482 !important;
  margin-bottom: 0;
  padding-bottom: 0;
}

small {
  font-size: calc(
    12px + (15 - 12) * ((100vw - 360px) / (1600 - 360))
  ) !important;
}

.bold-text {
  color: #989c9e !important;
}

.mt-55 {
  margin-top: calc(
    50px + (60 - 50) * ((100vw - 360px) / (1600 - 360))
  ) !important;
}

h3 {
  font-size: calc(
    34px + (40 - 34) * ((100vw - 360px) / (1600 - 360))
  ) !important;
}

.social {
  font-size: 21px !important;
}

.rights {
  font-size: calc(
    10px + (12 - 10) * ((100vw - 360px) / (1600 - 360))
  ) !important;
}
